[*.cs]

# Default severity for analyzer diagnostics with category 'Correctness'
dotnet_analyzer_diagnostic.category-Correctness.severity = warning

# CS8602: Dereference of a possibly null reference.
# dotnet_diagnostic.CS8602.severity = silent

# IDE0031: Use null propagation
dotnet_diagnostic.IDE0031.severity = silent

# IDE0041: Use 'is null' check
dotnet_diagnostic.IDE0041.severity = silent

# UNT0008: Null propagation on Unity objects
dotnet_diagnostic.UNT0008.severity = silent

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = silent
